//colors
$main-bg-color: rgba(207, 210, 215, 1);
$secondary-bg-color: rgba(148, 179, 197, 1);
$accent-bg-color: rgba(196, 49, 110, 1);
$main-text-color: rgba(38, 38, 38, 1);

//width
$mobile-width: 340px;
$desktop-width: 1200px;